
.form-control{
  margin:0px
}
.test{
  text-align: center;
}
.nav-link:hover{
  color: #05080c !important; 
  font-size: 1.4rem !important;
  background-color: #ebd976;
  border-radius: 10px;
  text-align: center;
} 
#dashboard,#employee,#payroll{
  color: #5e6063;
  font-size: 1.3rem;
  font-weight: 600;
}
.fixed-top{
  background-color: #f1f8f8;
  
}
.loaderCLass{
  margin-left: 70%;
  margin-top: 15%;
  
 
}
.loaderCLassForGraph{
  margin-left: 47%;
  margin-top: 10%;
}
.cssHeadingClass{
  color: black;
  font-size:1.2rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.fa-times{
  cursor: pointer;
  margin-right: 10px;
}
label{
color: black;
font-size: 1rem;
font-weight:520;
margin-bottom: 0px;
}

table.table-bordered>tbody>tr>td {
font-size: 1rem;
white-space: nowrap;
font-weight: 500;
}
table.table-bordered>thead>tr>th {
  font-size: 1.1rem;
  white-space: nowrap;
  font-weight: 600;
  }
  .company_logo{
    width: 80%;
    height: 45px;
  }
  .btn-outline-secondary{
    color:black;
  }
  hr{
    margin: 2;
    border: 1px solid #e6ebe6 ;
  }