
.form-control{
  margin:0px
}
.test{
  text-align: center;
}
.nav-link.active  {
  border-bottom: 4px solid #0d47a1;

} 
.nav-link.test{
  border-bottom: 4px solid #0d47a1;;
}
#dashboard,#employee,#payroll{
  color: #5e6063;
  font-size: 1.3rem;
  font-weight: 600;
}
.fixed-top{
  background-color: #f1f8f8;
  
}
.loaderCLass{
  margin-left: 70%;
  margin-top: 15%;
  
 
}
.loaderCLassForGraph{
  margin-left: 47%;
  margin-top: 10%;
}
.cssHeadingClass{
  color: black;
  font-size:1.2rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.fa-times{
  cursor: pointer;
  margin-right: 10px;
}
.fas{
    font-size: 1.5rem !important;
    color: black;
}

label{
color: black;
font-size: 1rem;
font-weight:520;
margin-bottom: 0px;
}

table.table-bordered>tbody>tr>td {
font-size: 1rem;
white-space: nowrap;
font-weight: 500;
}
table.table-bordered>thead>tr>th {
  font-size: 1.1rem;
  white-space: nowrap;
  font-weight: 600;
  }
  .company_logo{
    width: 80%;
    height: 45px;
  }
  .btn-outline-secondary{
    color:black;
  }
  hr{
  
    border: 1px solid #e6ebe6 ;
    padding: 0px;
  }
  .nomarginHr{
    margin:0px !important
  }
 
  .switch {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 26px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2e7ef7;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 40px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

 
  .custom-control-label{
    font-size: 0.84rem !important;
    color: #044625;
    font-weight: 550;
    white-space: nowrap;
}
.table-responsive{
  height: 480px;
  overflow-x: auto;
}
.spinner-border{
margin-top: -2px;
}
.badge-pill{
  color: white;
  font-size: .88rem;
  font-weight: 550;
}
.primary:hover {
color: white;
}
.btn:hover{
 color: white;
}
.primary{
  background-color: #4e7fcc;
  color: white;
}
.primaryDarkColor{
  background-color: #0d47a1;
  color: white;
}
.white_color_btn{
  background-color: white;
  color: #0d47a1;
  border:1px solid black;
}
.white_color_btn:hover{
  color: #0d47a1;
}
.primary_light{
  background-color: #e9ebf7;
  
}
.primary_light:hover{
  color: black;
}
.fa-plus{
  background-color: #4e7fcc;
  border-radius: 12px;
  color: white; 
}
.btn.primaryDarkColor{
  background-color: #0d47a1;

}
.primaryDarkColor:hover
{
  color: white;
}
input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #080808;
  width: 90%;
}
input[type=text]:disabled {
  background:white;
}
.inputColorLine{
  border-color:#f04014;
}
.inputTextError{
  color: #ff6565;
}